*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.Nav-Bar{
    background-color: #FFA725;
    height:75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body{
    background-color:#C1D8C3 ;
}

.Heading-Center{
    color:#FFF5E4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
}

.Heading-Left{
    padding-left: 5px;
}

.Hamburger-Menu{
    height: 45px;
    fill: #6A9C89;
}

.Hamburger-Menu-Button{
    height: 45px;
    width: 65px;
    color: #6A9C89;
    background-color:#FFF5E4;
    border-color: #FFA725;
    box-shadow: none;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    transition: background-color 0.15s , color 0.15s;
    flex-shrink: 0;
    place-items: center;
}

.Hamburger-Menu-Button:hover{
    background-color: #FFA725;
}

.Side-Bar-Content {
    position: fixed;
    top: 0;
    left: 0;
    background:#FFA725;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    transform: translate(-100%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Side-Bar-Heading{
    color:#FFF5E4;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.X-Button{
    fill: #6A9C89;
}

.Closing-Button{
    background-color: #FFF5E4;
    border-color: #FFA725;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    width: 45px;
}

.show-sidebar {
   transform: translate(0);
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
}

@media (min-width: 676px) {
    .Side-Bar-Content {
      width: 500px;
    }
  }